section.banner-sup{
    margin: 0px 0px 20px 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    div{
        background-color: #0301144b;
        h1{
            color: white;
        }
    }
}

.contacto{
    background-color: #e1e0f2;
    margin-bottom: 40px;
    iframe{
        width: 100%;
        height: 320px;
    }
}

.comunica{
    padding: 20px 10px 20px 10px;
    h3{
        font-family: 'Plus Jakarta Sans', sans-serif;
        padding-bottom: 2px;
        border-bottom: 1px solid #030114;
        margin-bottom: 20px;
    }
}

p.last-p{
    margin-bottom: 8px;
}

@media(min-width: 1024px){
    
    .contacto{
        height: 400px;
        display: flex;
        flex-direction: row;
        iframe{
            width: 60%;
            height: 400px;
        }
    }

    .comunica{
        width: 40%;
        padding: 40px 20px 40px 20px;
    }

}

