.saber h2{
    text-align: center;
    margin: 20px 0px 40px 0px;
}

.citogen-1{
    text-align: center;
    grid-area: cito-1;
    img{
        width: 90%;
    }
}

.citogen-2{
    color: $bcolor2;
    background-color: $bcolor4;
    padding: 20px;
    margin-top: 10px;
    grid-area: cito-2;
    h2{
        text-align: center;
        padding-bottom: 10px;
        border-bottom: 1px solid $bcolor2;
    }
    
}

.citogenetica{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "cito-1"
    "cito-2";
}

section.cultivo{
    color:#060327;
    button{
        padding: 5px 20px 5px 5px;
    }
}

.baja-e {
    background-color: $bcolor4;
    padding: 20px;
}

.etapa{
    background-color: $bcolor4;
    margin-bottom: 20px;
}

.lastEtapa{
    margin: 0px;
}

.cultivoEtapa{
    text-align: center;
    padding: 10px;
    img{
        width: 100px;
        margin: 5px;
    }
}

.descript{
    padding: 20px;
    color: #060327;
    li{
        color: #060327;
        margin-bottom: 5px;
    }
}

.microscopio{
    background-color: $bcolor5;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    padding: 25px 10px 10px 10px;
}

.mic{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    h4{
        font-size: 20px;
    }
}

.micro-0{
    grid-area: micro-0;
}

.micro-1{
    grid-area: micro-1;
}

.micro-2{
    grid-area: micro-2;
}

.micro-3{
    grid-area: micro-3;
}

.micro-4{
    grid-area: micro-4;
}

@media(min-width: 768px){

    .citogenetica{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "cito-1 cito-2";
        gap: 20px;
        background-color: $bcolor2;
        padding: 20px 10px 20px 10px;
    }

    .citogen-1 img{
            width: 320px;
            transition: 4s;
    }
    
    .citogen-1 img:hover{
            transform:scale(0.7);
    }
     
    .citogen-2{
        color: white;
        margin: 2% 8% 2% 0px;
        h2{
            border-bottom: 1px solid white;
        }
    }

    .cultivoEtapa{
        img{
            margin: 10px;
        }
        h3{
            font-size: 20px;
        }
    } 

    .etapa{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .descript{
        display: flex;
        flex-direction: column;
        justify-content: center;
        p{
            font-size: 13px;
            margin-bottom: 5px;
        }
        ul{
            margin: 0px;
            li{
                font-size: 13px;
                margin: 5px 0px 5px 0px;
            }
        }
    }

    .microscopio{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "micro-0 micro-0"
        "micro-1 micro-2"
        "micro-3 micro-4"; 
    }
}

@media(min-width: 1024px){

    .citogen-2{
        p{
            font-size: 22px;
        }
    }

    .cultivoEtapa img{
        margin: 20px;
    }

    .descript{
        p{
        font-size: 15px;
        }
            li{
                font-size: 15px;
            }
    }

    .microscopio{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(4,1fr);
        grid-template-areas: 
        "micro-0 micro-0 micro-0 micro-0"
        "micro-1 micro-2 micro-3 micro-4";
        p{
            font-size: larger;
        } 
    }
}