*{
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
    color: white;
}

.bold{
    font-weight: bold;
}

p{
    margin: 0px;
}

body{
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Nunito Sans' , sans-serif;
}

header{
    background-color: $bcolor1;
    padding: 10px 5px 10px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    img{
        width: 95%;
    }
    nav{
        padding-right: 10px;
        ul{
            list-style: none;
        }
    }
}

footer{
    background-color: $bcolor1;
    color: white;
    font-style: bold;
}

.iconos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px 10px 0px 10px;
    div{
        width: 140px;
        padding: 5px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            padding: 5px;
            margin: 2px;
        }
        p{
            font-size: 12px;
            font-weight: 100;
        }
    }
}

.autor{
    width: 100%;
    background-color: $bcolor2;
    text-align: center;
    margin-top: 10px;
    padding: 5px 0px 5px 0px;
    h3{
        margin: 0px;
        font-size: 10px;
        font-weight: lighter;
    }
}


@media(min-width: 1024px){

    nav li{
        padding: 20px;
    }

    .iconos{
        padding: 0px 50px 0px 50px;
    }
}


