img.primero{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center center;
}

div.primero{
    width: 100%;
    height: 220px;
    background-color: $bcolor2;
    overflow: hidden;
    color: white;
    h1{
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 40px;
        font-weight: 650;
        padding: 15px 10px 0px 10px;
    }
    p{
        font-size: 20px;
        color: #aca7d5;
        font-weight: lighter;
        padding: 5px 10px 30px 10px;
    }
}


section.lemas{
    width: 100%;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #565370;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h2{
        padding: 20px 0px 20px 0px;
        margin-bottom: 20px;
    }
}

div.lemas{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    figure{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }
    h3{
        margin-top: 10%;
    }
}

section.banner{
    margin: 20px 0px 20px 0px;
    width: 100%;
    height: 240px;
    overflow: hidden;
    background-color: #050325b2;
    color: white;
    position: relative;
    display: inline-block;
    text-align: center;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        transition: 1s;
    }
    img.banner:hover{
        transform: scale(1.2);
    }
    div{
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #03011496;
        color: white;
        padding: 40px 0px 40px 0px;
        h2{
            font-size: 35px;
            font-weight: 300;
        }
        p{
            font-size: 25px;
            color: #aca7d5;
        }
    }
}

img.primero{
    grid-area: foto;
}

div.primero{
    grid-area: nombre;
}

section.lemas{
    grid-area: lemas;
}

section.banner{
    grid-area: banner;
}

@media(min-width: 480px){
    
        img.primero{
            height: 350px;
        }
    
        div.primero{
            height: 300px;
            h1{
                font-size: 60px;
                padding: 15px 10px 0px 10px;
            }
            p{
                font-size: 25px;
                padding: 5px 10px 30px 10px;
            }
        }
                
        div.banner{
            padding: 50px 0px 50px 0px;
        }
    
    }

@media(min-width: 768px){
    
        main.inicio{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "foto nombre"
            "lemas lemas"
            "banner banner";   
        }
    
        div.primero{
            height: 350px;
        }
    
        div.cover{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    
        div.lemas{
            width: 200px;
            height: 320px;
        }
}

@media(min-width: 1024px){
    
        div.primero{
            padding-left: 5px;
            h1{
                margin-top: 20px;
                font-size: 67px;
            }
            p{
                margin-top: 15px;
                font-size: 30px;
            }
        }
}    