@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans:wght@200&display=swap');
@import "general";
@import "index";
@import "nosotros";
@import "servicios";
@import "educacion";
@import "contacto";


@media(min-width: 480px){

/*inicio*/

    img.primero{
        height: 350px;
    }

    div.primero{
        height: 300px;
    }

    div.primero h1{
        font-size: 60px;
        padding: 15px 10px 0px 10px;
    }
    
    div.primero p{
        font-size: 25px;
        padding: 5px 10px 30px 10px;
    }

    div.banner{
        padding: 50px 0px 50px 0px;
    }

}


@media(min-width: 768px){

/*inicio*/

    main.inicio{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "foto nombre"
        "lemas lemas"
        "banner banner";   
    }

    div.primero{
        height: 350px;
    }

    div.cover{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    div.lemas{
        width: 200px;
        height: 320px;
    }

/*Nosotros*/

    .quienes{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "quien quien"
        "nos-1 som-1"
        "som-2 nos-2"
        "nos-3 som-3";
    }

    .profesion{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(6,1fr);
        grid-template-areas: 
        "equipo equipo equipo equipo equipo equipo"
        "per-1 per-1 per-2 per-2 per-3 per-3"
        ". per-4 per-4 per-5 per-5 .";
    }

    .nos h1{
        margin: 40px 0px 40px 0px;
    }

    .nosotros, .somos{
        margin-bottom: 0px;
    }

    .perfil{
        margin-bottom: 40px;
    }

/*Servicios*/

    .estudios{
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: larger;
    }

    .ensayos button{
        padding: 5px 40px 5px 40px;
    }

    .ensayos h2{
        font-size: 20px;  
    }

    .ensayos img{
        width: 120px;
        margin-right: 20px;
    }

    .baja-s{
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .ensayos li{
        margin: 20px 0px 20px 0px;
    }

/*Saber Más*/

    .citogenetica{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "cito-1 cito-2";
        gap: 20px;
        background-color: #060327;
        padding: 20px 0px 20px 0px;
    }

    .citogen-1 img{
        width: 400px;
        transition: 4s;
    }

    .citogen-1 img:hover{
        transform:scale(0.7);
    }

    .citogen-2{
        margin: 2% 10% 2% 0px;
    }

    .cultivoEtapa img{
        margin: 10px;
    }

    .etapa{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .descript{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .descript p{
        font-size: 13px;
        margin-bottom: 5px;
    }

    .descript ul{
        margin: 0px;
    }

    .descript li{
        font-size: 13px;
        margin: 5px 0px 5px 0px;
    }
}



@media(min-width: 1024px){

    nav li{
        padding: 20px;
    }

/*inicio*/

    div.primero{
        padding-left: 5px;
    }

    div.primero h1{
        margin-top: 20px;
        font-size: 67px;
    }
    
    div.primero p{
        margin-top: 15px;
        font-size: 30px;
    }

    footer{
        padding: 0px 50px 0px 50px;
    }

/*Nosotros*/

    .nos{
        margin: 40px 10% 40px 10%;
        gap: 25px;
    }

/*Servicios*/

    .estudios{
        font-size: x-large;
        padding: 80px;
        margin-bottom: 40px;
    }

    .ensayos button{
        padding: 5px 40px 5px 40px;
    }

    .ensayos h2{
        font-size: 28px;  
    }

    .ensayos img{
        width: 120px;
        margin-right: 20px;
    }

    .ensayos li{
        font-size: larger;
    }

/*Saber Más*/

    .cultivoEtapa img{
        margin: 20px;
    }

    .descript p{
        font-size: 15px;
    }

    .descript li{
        font-size: 15px;
    }

/*Contacto*/
    
    .contacto{
        height: 400px;
        display: flex;
        flex-direction: row;
    }

    .contacto iframe{
        width: 60%;
        height: 400px;
    }

    .comunica{
        width: 40%;
        padding: 40px 20px 40px 20px;
    }

}

